<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tapped"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="tiramisu">

        <service
            android:name=".TaskService"
            android:foregroundServiceType="specialUse"
            android:enabled="true"
            android:exported="false"
            android:permission="TODO">
        </service>

        <activity
            android:name="me.snowcube.tapped.MainActivity"
            android:launchMode="singleTask"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Tapped">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/vnd.me.snowcube.tapped" />
            </intent-filter>

<!--            <intent-filter>-->
<!--                <action android:name="android.nfc.action.TECH_DISCOVERED"/>-->
<!--            </intent-filter>-->

<!--            <meta-data-->
<!--                android:name="android.nfc.action.TECH_DISCOVERED"-->
<!--                android:resource="@xml/nfc_tech_filter" />-->
        </activity>
    </application>

</manifest>